//index's layout

//For PC
.profile{
    width: auto;
    height: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    //sectionごとに空白
    section{
      padding:0.5rem;
    }

    .menu{
      text-align: center;
      h2 {
        display: inline-block;
        margin: 1rem;
        font-size: 3rem;
        font-family: $fontStyle;
        text-align: center;
        
        //gradationText
        background: $selectedColor;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      h3{
        display: inline-block;
        margin: 1rem;
        font-size: 3rem;
        font-family: $fontStyle;
        text-align: center;
        color: $fontColor;
      }
    }

    .detail{
      text-align: center;
      .alignment{
        margin-top: -0.3rem;
        margin-bottom: 0.5rem;
        display: inline-block;
        a{
          margin: 1.5rem;
        }
      }
      .avatar{
        display: block;
        margin: 1rem;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
      }
      h3 {
        font-size: 2.5rem;
        font-family: $fontStyle;
        text-align: center;
        color: $fontColor;
      }
      h4 {
        margin-bottom: -0.5rem; 
        font-size: 2rem;
        font-family: $fontStyle;
        text-align: center;
        color: $fontColor;
      }
      p {
        font-size: 1.5rem;
        font-family: $fontStyle;
        text-align: center;
        color: $fontColor;
      }
      svg{
        fill:$svgColor;
      }
    }

    .birthday{
      h3 {
        font-size: 2.5rem;
        font-family: $fontStyle;
        text-align: center;
        color: $fontColor;
      }
      p {
        font-size: 1.5rem;
        font-family: $fontStyle;
        text-align: center;
        color: $fontColor;
      }
    }

    .skills{
      text-align: center;
      a{
        margin: 0.5rem;
        svg{
          display: inline-block;
          fill:$svgColor;
        }
      }
      h3 {
        font-size: 2.5rem;
        font-family: $fontStyle;
        text-align: center;
        color: $fontColor;
      }
    }
      
    .learn{
      text-align: center;
      a{
        margin: 0.5rem;
        svg{
          display: inline-block;
          fill:$svgColor;
        }
      }
      h3 {
        font-size: 2.5rem;
        font-family: $fontStyle;
        text-align: center;
        color: $fontColor;
      }
    } 
}

//For iPad and Tablet
@media screen and (max-width: 768px) {
  
}

//For iPhone and Android
@media screen and (max-width: 480px) {
  
}