$fontStyle:Arial, sans-serif;

$fontColor:rgb(255, 255, 255);
$fontColor2:rgb(225, 220, 215);
$menuOpenFontColor:rgb(221,221,221);

$backColor:rgb(200, 180, 180);
$menuColor:rgb(255, 255, 255);
$menuBackColor:rgba(80, 80, 80, 0.9);