@import "setting/fontPreset";
@import "setting/restriction";

.container {
  background: $backColor;
  font-family: $fontStyle;
  .main {
    @extend .rest;
    .title {
      font-size: 4rem;
      color:  $fontColor;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    //index.scss
    .profile{
      width: auto;
      height: auto;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;

      //sectionごとに空白
      section{
        padding:0.5rem;
      }

      .menu{
        text-align: center;
        h2 {
          display: inline-block;
          margin: 1rem;
          font-size: 3rem;
          font-family: $fontStyle;
          text-align: center;
          color: $fontColor;
        }
        h3{
          display: inline-block;
          margin: 1rem;
          font-size: 3rem;
          font-family: $fontStyle;
          text-align: center;
          color: $fontColor2;
        }
      }

      .detail{
        text-align: center;
        .alignment{
          margin-top: -0.3rem;
          margin-bottom: 0.5rem;
          display: inline-block;
          a{
            margin: 1.5rem;
          }
        }

        img{
          display: block;
          margin: 1rem;
          margin-left: auto;
          margin-right: auto;
          border-radius: 50%;
          width: 250px;
          height: 250px;
        }
        h3 {
          font-size: 2.5rem;
          font-family: $fontStyle;
          text-align: center;
          color: $fontColor;
        }
        h4 {
          margin-bottom: -0.5rem; 
          font-size: 2rem;
          font-family: $fontStyle;
          text-align: center;
          color: $fontColor;
        }
        p {
          font-size: 1.5rem;
          font-family: $fontStyle;
          text-align: center;
          color: $fontColor2;
        }
      }

      .birthday{
        h3 {
          font-size: 2.5rem;
          font-family: $fontStyle;
          text-align: center;
          color: $fontColor;
        }
        p {
          font-size: 1.5rem;
          font-family: $fontStyle;
          text-align: center;
          color: $fontColor2;
        }
      }

      .skills{
        text-align: center;
        .svg{
          display: inline-block;
        }
        h3 {
          font-size: 2.5rem;
          font-family: $fontStyle;
          text-align: center;
          color: $fontColor;
        }
      }
      
      .learn{
        text-align: center;
        .svg{
          display: inline-block;
          a{
            margin: 0.5rem;
          }
        }
        h3 {
          font-size: 2.5rem;
          font-family: $fontStyle;
          text-align: center;
          color: $fontColor;
        }
      } 
    }

    //history.scss
    .history{
      width: auto;
      height: auto;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;

      //sectionごとに空白
      section{
        padding:0.5rem;
      }

      .menu{
        text-align: center;
        h2 {
          display: inline-block;
          margin: 1rem;
          font-size: 3rem;
          font-family: $fontStyle;
          text-align: center;
          color: $fontColor;
        }
        h3{
          display: inline-block;
          margin: 1rem;
          font-size: 3rem;
          font-family: $fontStyle;
          text-align: center;
          color: $fontColor2;
        }
      }
      .detail{
        .timeline{
          color: $fontColor;
          list-style: none;
          text-align: center;
          li {
            overflow: hidden;
            margin: 0;
            position: relative;
          }
        }
        .timelineDate {
          width: 111px;
          float: left;
          margin-top: 20px;
        }
        .timelineContent {
          width: 75%;
          float: left;
          border-left: 3px $fontColor solid;
          padding-left: 30px;
        }
        .timelineContent:before {
          content: '';
          width: 13px;
          height: 13px;
          background: $fontColor;
          position: absolute;
          left: 106px;
          top: 24px;
          border-radius: 100%;
        }
      }
    }
  }
  
  .footer {
    @extend .rest;
    font-size: 1rem;
    padding: 0.5rem;
    justify-content: center;
    p {
      color: $fontColor;
      display: flex;
      justify-content: center;
    }
  }
}