@import "foundation/color";
@import "foundation/font";
@import "foundation/restriction";
@import "layout/index";
@import "layout/history";

.container {
  @extend .rest;
  min-height: 100vh;
  background: $backGroundColor;
  font-family: $fontStyle;
  .main {
    .title {
      //gradationText
      background: $title;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      
      font-size: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    //index.scss
    @extend .profile;
    //history.scss
    @extend .history;
  }
  
  .footer {
    font-size: 1rem;
    padding: 0.5rem;
    justify-content: center;
    p {
      color: $fontColor;
      display: flex;
      justify-content: center;
    }
  }
}